/* UTILITIES */

// common class

.hw100 {
  height: 100%;
  width: 100%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-left {
  padding-left: 0;
}

.no-margin-padding {
  margin: 0;
  padding: 0;
}
.no-padding-tb {
  padding-top: 0;
  padding-bottom: 0;
}
.relative {
  position: relative;
}

.zindex10 {
  z-index: 10
}

.container-fluid-site {
  padding-left: 30px;
  padding-right: 30px;
}

.abs {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.typo-1 {
  font-family: 'Bauer Bodoni Std';
  font-weight: normal;
}

.typo-1-bold {
  font-family: 'Bauer Bodoni Std';
  font-weight: bold;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.display-table, .dtable {
  display: table;
}

.display-table-cell, .dtable-cell {
  display: table-cell;
  vertical-align: middle;
}

.btn-white {
  background-color: #fff;
}

.relative {
  position: relative;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.section {
  padding: 0 0;
}

.secton-semi {
  padding: 4em 0;
}

.section-header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.room-item-hr {
  width: 100;
  height: 1px;
  background-color: #333;
  margin: 10px auto;
  opacity: 1;
}

.section-dark {
  .section-header {
    color: #fff;
  }
  .item-sm {
    color: #fff;
  }
  .foo-col-title {
    color: #53565f;
  }
  .foo-list li a {
    color: #53565f;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  p {
    color: #fff;
  }
}

.section-light {
  h1, h2, h3, h4, h5, h6 {
    color: #333;
  }
}

.mini-hr {
  max-width: 120px;
  border-bottom: 3px solid #eee;
  margin: 20px auto;
  text-align: center;

  span {
    background-color: #eee;
    border: 2px solid #fff;
    border-radius: 14px;
    display: inline-block;
    height: 14px;
    margin-bottom: -14px;
    width: 14px;
  }
}

.roomDesc-hold, .feat-room-hold, .table-holder {
  max-width: 840px;
  margin: 0 auto 30px;
}

.room-feat-row {
  border-bottom: 1px solid #eee;
}

@media (min-width: 768px) {
  .hide-lg {
    display: none;
  }

  .text-right-lg {
    text-align: right;
  }
}

@media (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}

.table-room-feat th {
  border: none !important;
}

.table-room-feat {
  tr td {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    vertical-align: middle;

    span {
      display: inline-block;
      padding-right: 0;

      &.spn-icon {
        font-size: 20px;
      }
      &.spn-text {
        display: inline;
        font-size: 12px;
        letter-spacing: 0.08em;
        padding-left: 10px;
        text-transform: uppercase;
      }
    }
  }
  tr td:first-child {
    padding-left: 0;
  }
  tr td:last-child {
    padding-right: 0;
  }

}



